.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

table {
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-color: #000000;
}

th {
    font-weight: normal;
    /*font-size: 13px;*/
    color: #000000;
    /*text-transform: uppercase;*/
    border-right: 1px solid #0865c2;
    border-top: 2px solid #0865c2;
    border-left: 0px solid #0865c2;
    border-bottom: 1px solid #fff;
    padding: 20px;
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    color: #000000;
    border-top: 1px dashed #6cf;
    /*border-right: 1px dashed #6cf;*/
    border-bottom: 1px dashed #6cf;
    /*border-left: 1px dashed #6cf;*/
    border-collapse: collapse;
    padding: 10px 20px;
    empty-cells:hide;
}

td.rightborder {
    color: #000000;
    border-top: 1px dashed #6cf;
    border-right: 1px dashed #6cf;
    border-bottom: 1px dashed #6cf;
    /*border-left: 1px dashed #6cf;*/
    border-collapse: collapse;
    padding: 10px 20px;
    empty-cells:hide;
}

td.rightborderonly {
    color: #000000;
    border-right: 1px dashed #6cf;
    border-collapse: collapse;
    padding: 10px 20px;
}

a.linkasbutton{
    background: #fff;/*цвет фона*/
    border-radius: 3px;/*радиус скругления*/
    color: #000000;/*цвет текста*/
    display: table;/*элемент таблицы*/
    line-height: 1.5;/*высота строки*/
    padding: 10px 25px;/*внутрение отступы*/
    margin:0 auto;/*выравнивание по центру*/
    text-decoration: none;/*убераем подчеркивание*/
    transition: all 0.3s;/*плавный эффект перехода*/
}
/*стили кнопки при наведении курсора мыши на нее*/
a.linkasbutton:hover {
    background: #dfdfdf;/*другой цвет фона*/
}